<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>health tracker</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper container">
      <h1 class="text-center text-muted">Health tracker</h1>

      <div class="row" id="app">

      <div class="col-sm-6">
        <form class="col-xs-12 form-inline search-form">
          <div class="form-group">
            <label class="sr-only" for="search-food">Search</label>
            <input type="email" class="form-control" id="search-food" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-primary search-button">Go</button>
        </form>

        <div class="col-xs-12">
          <ul class="search-result">

          </ul>
        </div>
      </div>

      <div class="col-sm-6" id="daily-result-cont">
        <div class="daily-graph">

        </div>

        <div class="daily-results">

        </div>

      </div>

      </div><!-- row ends -->
    </div><!-- wrapper / container -->

    <script type="text/template" id="item-template">
      <li class="food-item">

        <div class="item-content">
          <strong><%= name %></strong>
          <p><em>Calories: </em><%= calories %></p>
        </div>
        <div class="item-controls text-right">
          <% if(onList){ %>
            <button class="btn btn-default remove-btn"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
          <% } else { %>
            <button class="btn btn-default add-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
          <% } %>
        </div>
      </li>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <!-- BackboneFire -->
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/food.js"></script>
    <script src="scripts/collections/search-list.js"></script>
    <script src="scripts/collections/food-list.js"></script>
    <script src="scripts/views/food-view.js"></script>
    <script src="scripts/views/app-view.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
