<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>health tracker</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper container">
      <div id="app" class="row">

        <div class="col-md-6" id="search-view">

            <form class="" id="search-form">
              <div class="form-group">
                <label class="sr-only" for="search-input">Search input</label>
                <input type="text" class="form-control" id="search-input" placeholder="Search">
              </div>
              <button type="button" class="btn btn-primary" id="data-btn">Click</button>
            </form>

            <div id="datepicker">

            </div>

            <ul id="search-result-list">

            </ul>

        </div><!-- search-view ends -->

        <div class="col-md-6" id="saved-food-view">

          <ul id="saved-food-list">

          </ul>

        </div>

      </div><!-- row/app ends -->

    </div><!-- wrapper/container ends -->

    <script type="text/template" id="saved-single-template">
      <span class="food-item brand-name"><%= brandName %></span>
      <span class="food-item name"><%= name %></span>
      <span class="food-item calories"><%= calories %></span>
      <span class="glyphicon glyphicon-remove-sign food-item remove-btn" aria-hidden="true"></span>

    </script>

    <script type="text/template" id="search-single-template">
      <span class="food-item brand-name"><%= brandName %></span>
      <span class="food-item name"><%= name %></span>
      <span class="food-item calories"><%= calories %></span>
      <span class="glyphicon glyphicon-remove-sign food-item remove-btn" aria-hidden="true"></span>

    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <!-- BackboneFire -->
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

    <!-- build:js plugins/datepicker.js -->
    <script src="plugins/moment.js"></script>
    <script src="plugins/pikaday.jquery.js"></script>
    <script src="plugins/pikaday.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/food-single-model.js"></script>
    <script src="scripts/models/daily-calories-model.js"></script>
    <script src="scripts/collections/search-list-col.js"></script>
    <script src="scripts/collections/firebase-food-col.js"></script>
    <script src="scripts/collections/graph-col.js"></script>
    <script src="scripts/views/search-single-view.js"></script>
    <script src="scripts/views/saved-single-view.js"></script>
    <script src="scripts/views/search-view.js"></script>
    <script src="scripts/views/saved-view.js"></script>
    <script src="scripts/views/app-view.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
