<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>health tracker</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper container">

      <div id="app">

        <div class="row">

            <form class="form-inline col-xs-12" id="search-form">
              <div class="form-group">
                <label for="search-input"></label>
                <input type="text" class="form-control" id="search-input" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-primary" id="search-btn">Go</button>
            </form>

        </div><!-- row ends -->

        <div class="row">

          <div class="col-md-6 search-results-cont table-responsive">

            <table id="search-results" class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Food</th>
                  <th class="text-center">Calories</th>
                </tr>
              </thead>
              <tbody id="search-results-data">
                
              </tbody>
            </table>
          </div><!-- search-results ends -->

          <div class="col-md-6 saved-results">

          </div><!-- saved-results ends -->

        </div><!-- row ends -->

      </div><!-- app ends -->

    </div><!-- wrapper/container ends -->

    <script type="text/template" id="food-single-template">
      <td class="search-results-icon search-data text-center"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></td>
      <td class="search-data search-data-name"><%= name %></td>
      <td class="search-data text-center"><%= calories %></td>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- Firebase -->
     <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
     <!-- BackboneFire -->
     <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/food-single.js"></script>
    <script src="scripts/collections/search-results-col.js"></script>
    <script src="scripts/views/food-single-view.js"></script>
    <script src="scripts/views/search-results-view.js"></script>
    <script src="scripts/views/app-view.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
