@media screen and (max-width: 768px)
  .header, .nav-list
    text-align: center

  .nav-list
    background: $color1

  .nav-item
    background: $color4

  #search-result-list li, #saved-food-list li
      padding: 8px

  #search-result-list
    height: auto

  #form-wrapper
    background: $color1

  .form-selected
    background: darken($color1, 15%)
