#saved-food-view
  height: 100%
  overflow: hidden
  &:hover
    overflow: auto

#saved-food-list
  list-style: none
  padding: 0
  li
    padding: 6px
    &:nth-child(odd)
      background: darken($color2, 5%)
    &:hover
      cursor: pointer
      background: $color3
      color: $color2

#all-calories
  font-size: 4em
  margin-right: 10px
  padding: 0

.day-of-week
  margin-right: 15px
  font-size: 1.1em
  font-weight: bold
  color: $color3

.date
  font-size: 1em
  font-style: italic

.all-calories-cont
  padding: 0 4%

.food-calories
  text-align: center

.calories-sum
  margin-bottom: 12px
