#saved-food-view

#saved-food-list
  list-style: none
  padding: 0
  li
    padding: 5px
    &:nth-child(even)
      background: darken($color2, 5%)
    &:hover
      cursor: pointer
      background: $color3
      color: $color2

#all-calories
  font-size: 3.2em
  margin-right: 10px

.day-of-week
  margin-right: 15px
  font-size: 1.1em
  font-weight: bold

.date
  font-size: 1em
  font-style: italic

.food-calories
  
