#search-view
  position: relative
  padding-top: 15px

.brand-name
  font-style: italic

.food-item
  display: inline-block

#search-result-list
  list-style: none
  padding: 0
  margin-top: 20px
  padding-bottom: 10px
  .food-calories
    padding-right: 15px
  li
    padding: 3px
    &:nth-child(odd)
      background: darken($color2, 5%)
    &:hover
      cursor: pointer
      background: $color3
      color: $color2

.search-controls
  font-size: 1.2em

.search-active
  background: $color5
  color: $color2

.search-control
  padding: 6px
  border-radius: 5px
  &:hover
    cursor: pointer
    @extend .search-active

.search-heading
  display: inline-block
  width: 49%
  color: $color1

.calories-heading
  text-align: right

.search-result-cont
  margin-top: 20px
  border-bottom: 1px solid
