.search-result-cont
  display: none

#search-view
  padding-top: 20px

.brand-name
  font-style: italic

#search-result-list
  list-style: none
  padding: 0
  margin: 20px 0
  height: 300px
  overflow: hidden
  &:hover
    overflow: auto
  li
    padding: 3px
    &:nth-child(odd)
      background: darken($color2, 5%)
    &:hover
      cursor: pointer
      background: $color3
      color: $color2

.search-controls
  font-size: 1.2em
  margin: 30px 0 0
  padding-left: 15px

.selected-btn-search-view
  background: $color5
  color: $color2

.search-control
  padding: 6px
  border-radius: 5px
  &:hover
    cursor: pointer
    @extend .selected-btn-search-view

.search-heading
  display: inline-block
  width: 49%
  color: $color3

.calories-heading
  text-align: right

#search-menu-toggle-btn
  display: block
  margin: 20px auto
  width: 100%
  padding: 10px
  font-size: 1.1em
  background: $color5
  color: $color2
  border: none
  &:hover
    background: lighten($color5, 5%)
